{% extends 'atend/base.html' %}

{% block title %} Work Log List {% endblock title %}

{% block content %}

  <h1>Work Log List</h1>
  <hr>

  {% if worklog_list %}
    <ul class="list-unstyled">
    {% for worklog in worklog_list %}
      <li>{{ worklog }} | <a href="{{ worklog.file.url }}" download="{{ worklog.get_download_name }}">Download</a> | <a href="{% url 'worklog_update' worklog.id %}">Update</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There is no worklog</p>
  {% endif %}

{% endblock content %}
